@import url("xl.css") screen and (max-width: 1800px);
@import url("lg.css") screen and (max-width: 1280px);
@import url("md.css") screen and (max-width: 980px);
@import url("sm.css") handheld;
@import url("sm.css") screen and (max-width: 736px);
@import url("xs.css") handheld and (max-width: 480px);
@import url("xs.css") screen and (max-width: 480px);
@import url("main.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');


body *{
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
}

body form{
    margin-bottom:0;
}

body code{
    color: #da3e00;
}

body strong, b{
    color: #4e4e4e;
}

body a:hover{
    text-decoration: none;
    border-bottom:1px solid;
}

.text-main{
    color:#49bf9d;
}
.text-sub{
    color: #ff5f00;
}
.bg-main{
    color:#49bf9d;
}
.bg-sub{
    color:#ff5f00;
}

.image:before {
    opacity:0;
}

#iconbar {
    margin: 1em 0 0 0;
}

#iconbar a {
    color: rgba(255, 255, 255, 0.7);
}


#header{
    background-image: url("../../images/bg.jpg");
    background-position: center left;
    color:rgba(255, 255, 255, 1);
}

#header h1{
    text-shadow: 2px 2px 2px #000;
    color:rgba(255, 255, 255, 1);
}

#header .image.avatar{
    width:12em;
    height:10em;
    background: url('../../images/logo-t.png') no-repeat center center;
    background-size: cover;
    border-radius:0;
}

#header h1 strong{
    font-size:2em;
    font-family: 'Josefin Sans', sans-serif;
    color:#49bf9d;
}

body.is-loading #main{
    opacity:0;
}
#main{
    opacity:1;
    transition:opacity .4s linear;
    -o-transition:opacity .4s linear;
    -moz-transition:opacity .4s linear;
    -webkit-transition:opacity .4s linear;
    max-width:100%;
}

#main > section > article{
    padding:8px 2px;
}

#main .url-list li b{
    color:#4a8cdb;
}

#main .code-group-container{
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
}
#main .code-group{
    padding:2em 1em;
    border:1px solid #ccc;
    position: relative;
}
#main .code-group:first-child{
    border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
}
#main .code-group:last-child{
    border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
}
#main .code-group > header{
    background: #49bf9d;
    color:#FFF;
    margin:-1em 0 1em -1em;
    padding:.5em;
    border-top-right-radius:2px;
    -moz-border-top-right-radius:2px;
    -webkit-border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    -moz-border-bottom-right-radius:2px;
    -webkit-border-bottom-right-radius:2px;
}
#main .code-group > code{
    display: block;
}
#main .code-group > footer{
    background: #e0e0e0;
    margin:1em -1em -1em -1em;
    padding:.5em .5em .5em 1em;
}

#footer .donate{

}
#footer .donate .title{
    font-size:.9em;
    margin-bottom:20px;
    text-shadow: 2px 2px 2px #000;
}
#footer .donate form{
    text-align: right;
}
body > #footer .donate .title {
    color:#FFF;
    text-shadow: 2px 2px 2px #000;
}
body > #footer .donate form{
    text-align: center;
}



.syntaxhighlighter{
    padding:1px;
}



.ml20{
    margin-left:20px;
}

ul.icon-list{
    list-style: none;
}
ul.icon-list > li::before{
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.6em; /* same as padding-left set on li */
    width: 1.4em; /* same as padding-left set on li */
    color:#da3e00;
}